* text=auto
*.pyc
assignment1/auxiliary-materials-for-part1/
assignment2/data/Universal Dependencies 2.8.1/
.idea
.idea/ComputationalSemantics.iml
assignment2/data/transformers4vl-vilbert.7z
assignment2/data/transformers4vl-vilbert/
assignment3/src/.ipynb_checkpoints/Main-checkpoint.ipynb
assignment3/src/runs/
